{% extends 'layout/base.html' %} {% load static %} {% load custom_tag %} {% block title %}à propos de | {% endblock %} {% block banner %}
<div class="bg-cover pd-header about-cover">
    <div class="container">
        {% include 'layout/banner.html' %}
    </div>
</div>
{% endblock %} 

{% block css %}
<link rel="stylesheet" href="{% static 'mega/css/about.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'mega/css/team.css' %}" type="text/css">
{% endblock %}
{% block contents %}
<section class="single-banner" style="background-image: url({{BG_COVER}}) !important">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>À propos de nous</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Acceuil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">À propos de Radio Mega</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section about-part">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="about-img">
                    <a href="#" class="about-1"><img src="{% static 'mega/images/about-1.jpg' %}" alt="about-1"></a>
                    <a href="#" class="about-2"><img src="{% static 'mega/images/about-2.jpg' %}" alt="about-2"></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="about-content">
                    <h2><span>Mega</span>Apropos de nous!</h2>
                    <p>{{ABOUT_TEXT}}</p>
                    <h3>l'ans 2021</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section team-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Rencontrer l'équipe</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for link in links %}
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card team-gape">
                    <div class="team-img"><img src="{{ link.avatar.url }}" alt="team-{% random_num %}">
                        <div class="team-overlay">
                            <ul class="team-icon">
                                <li><a class="icon icon-inline" href="{{link.WA_link}}"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a class="icon icon-inline" href="{{link.FB_link}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="icon icon-inline" href="{{link.TW_link}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-meta">
                        <h4>{{link.name}}</h4>
                        <p>{{link.desc}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="team-btn"><a class="btn btn-outline" href="/member"><i class="fas fa-eye"></i><span>Voir plus</span></a></div>
            </div>
        </div>
    </div>
</section>

<section class="counter-part">
    <div class="counter-oly">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="counter-div">
                        <h3><span class="counter-number">80</span>k+</h3>
                        <p>Par jour visiteur notre radio en ligne</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="counter-div">
                        <h3><span class="counter-number">45</span>+</h3>
                        <p>Liste de spectacles hebdomadaires que vous aimez plus</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="counter-div">
                        <h3><span class="counter-number">97</span>k+</h3>
                        <p>Notre famille YouTube pour l'inspiration</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section testi-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>A propos de Radio Mega</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testi-slider slider-arrow">
                    <div class="testi-card">
                        <div class="testi-quote">
                            <p>Lorem ipsum dolor nobis molestias quis quam ullam optio natus quisquam</p>
                        </div>
                        <div class="testi-meta">
                            <div class="testi-img">
                                <a href="#"><img src="https://mironmahmud.com/ushno/assets/img/testi-1.jpg" alt="testi-1"></a>
                            </div>
                            <div class="testi-info">
                                <h4>Morgan threture</h4>
                                <p>Founder at - Airway</p>
                            </div>
                        </div>
                    </div>
                    <div class="testi-card">
                        <div class="testi-quote">
                            <p>Lorem ipsum dolor nobis molestias quis quam ullam optio natus quisquam</p>
                        </div>
                        <div class="testi-meta">
                            <div class="testi-img">
                                <a href="#"><img src="https://mironmahmud.com/ushno/assets/img/testi-2.jpg" alt="testi-2"></a>
                            </div>
                            <div class="testi-info">
                                <h4>Morgan threture</h4>
                                <p>Founder at - Airway</p>
                            </div>
                        </div>
                    </div>
                    <div class="testi-card">
                        <div class="testi-quote">
                            <p>Lorem ipsum dolor nobis molestias quis quam ullam optio natus quisquam</p>
                        </div>
                        <div class="testi-meta">
                            <div class="testi-img">
                                <a href="#"><img src="https://mironmahmud.com/ushno/assets/img/testi-3.jpg" alt="testi-3"></a>
                            </div>
                            <div class="testi-info">
                                <h4>Morgan threture</h4>
                                <p>Founder at - Airway</p>
                            </div>
                        </div>
                    </div>
                    <div class="testi-card">
                        <div class="testi-quote">
                            <p>Lorem ipsum dolor nobis molestias quis quam ullam optio natus quisquam</p>
                        </div>
                        <div class="testi-meta">
                            <div class="testi-img">
                                <a href="#"><img src="https://mironmahmud.com/ushno/assets/img/testi-4.jpg" alt="testi-4"></a>
                            </div>
                            <div class="testi-info">
                                <h4>Morgan threture</h4>
                                <p>Founder at - Airway</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sponsor-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Notre partenaire</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="sponsor-slider slider-arrow">
                    <a href="#"><img src="https://mironmahmud.com/ushno/assets/img/sponsor-1.jpg" alt="sponsor-1"></a>
                    <a href="#"><img src="https://mironmahmud.com/ushno/assets/img/sponsor-2.jpg" alt="sponsor-2"></a>
                    <a href="#"><img src="https://mironmahmud.com/ushno/assets/img/sponsor-3.jpg" alt="sponsor-3"></a>
                    <a href="#"><img src="https://mironmahmud.com/ushno/assets/img/sponsor-4.jpg" alt="sponsor-4"></a>
                    <a href="#"><img src="https://mironmahmud.com/ushno/assets/img/sponsor-5.jpg" alt="sponsor-5"></a>
                    <a href="#"><img src="https://mironmahmud.com/ushno/assets/img/sponsor-3.jpg" alt="sponsor-3"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="intro-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-content">
                    <h1>Devenir notre parrainage</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Enim perferendis distinctio voluptas dignissimos at nisi.</p>
                    <a href="/contact" class="btn btn-inline"><i class="fas fa-external-link-alt"></i>
                        <span>Nous contacter</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}