{% extends 'layout/base.html' %} {% load static %} {% load custom_tag %} {% block contents %}
<main class="banner-slider">
    <section class="banner-1">
        <div class="banner-oly">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-content">
                            <h1>RADIO MEGA - 103.7</h1>
                            <p>{{SLOGAN}}</p><a href="#" class="btn btn-inline"><i class="fas fa-eye"></i><span>live on youtube</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-2">
        <div class="banner-oly">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-content">
                            <h1>RADIO MEGA - 103.7</h1>
                            <p>{{SLOGAN}}</p><a href="#" class="btn btn-inline"><i class="fas fa-eye"></i><span>live on youtube</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-3">
        <div class="banner-oly">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-content">
                            <h1>RADIO MEGA - 103.7</h1>
                            <p>{{SLOGAN}}</p><a href="#" class="btn btn-inline"><i class="fas fa-eye"></i><span>live on youtube</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<section class="section about-part">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="about-img">
                    <a href="#" class="about-1"><img src="{% static 'mega/images/about-1.jpg' %}" alt="about-1"></a>
                    <a href="#" class="about-2"><img src="{% static 'mega/images/about-2.jpg' %}" alt="about-2"></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="about-content">
                    <h2><span>Mega</span>Apropos de nous!</h2>
                    <p>{{ABOUT_TEXT}}</p>
                    <h3>l'ans 2021</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section show-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Nos dernieres emission</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="show-card">
                            <div class="show-content">
                                <div class="show-bg">
                                    <img src="{% static 'mega/images/about-1.jpg' %}" alt="show-1">
                                </div>
                                <div class="show-overlay">
                                    <a href="/mega-miami">
                                        <div class="show-time">
                                            <p>LIVE</p>
                                            <h4>Radio Mega Miami</h4>
                                        </div>
                                    </a>
                                        <ul class="show-host">
                                            <li>
                                                <a href="/mega-miami"><img src="{% static 'mega/images/about-1.jpg' %}" alt="host-1"></a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                            <div class="show-meta">
                                <h5>Radio Mega Emissions</h5>
                            </div>
                        </div>
                    </div>
                    {% for top_emission in top_emissions %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="show-card">
                            <div class="show-content">
                                <div class="show-bg">
                                    <img src="{{top_emission.image.url}}" alt="show-1">
                                </div>
                                <div class="show-overlay">
                                    <a href="{% url 'podcast_detail' top_emission.id %}">
                                        <div class="show-time">
                                            <p>{{top_emission.date_time | timesince}}</p>
                                            <h4>{{top_emission.title}}</h4>
                                        </div>
                                    </a>
                                        <ul class="show-host">
                                            <li>
                                                <a href="{% url 'podcast_detail' top_emission.id %}"><img src="{% static 'mega/images/about-1.jpg' %}" alt="host-1"></a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                            <div class="show-meta">
                                <h5>Radio Mega Emissions</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="show-btn"><a class="btn btn-outline" href="/emissions"><i class="fas fa-eye"></i><span>Voir Plus</span></a></div>
            </div>
        </div>
    </div>
</section>

<section class="section blog-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Articles récents</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-slider slider-arrow">
                    {% for top_article in top_articles %}
                    <div class="blog-card">
                        <img src="{{ top_article.cover.url }}" alt="blog-{{ top_article.id }}" style="height: 300px;">
                        <div class="blog-overlay">
                            <p>{{top_article.add_time | timesince}}</p>
                            <h3>
                                <a href="{% url 'article_detail' top_article.id %}">{{ top_article.title|truncatechars:40 }}</a>
                            </h3>
                            <a class="btn btn-outline" href="{% url 'article_detail' top_article.id %}">Lire la suite</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-btn"><a class="btn btn-outline" href="/articles"><i class="fas fa-eye"></i><span>Voir Plus</span></a></div>
            </div>
        </div>
    </div>
</section>

<section class="section team-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Présentez notre équipe</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="team-slider slider-arrow">
                    {% for link in links %}
                    <div class="team-card">
                        <div class="team-img"><img src="{{ link.avatar.url }}" alt="team-{% random_num %}">
                            <div class="team-overlay">
                                <ul class="team-icon">
                                    <li><a class="icon icon-inline" href="{{link.WA_link}}"><i class="fab fa-whatsapp"></i></a></li>
                                    <li><a class="icon icon-inline" href="{{link.FB_link}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="icon icon-inline" href="{{link.TW_link}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-meta">
                            <h4>{{link.name}}</h4>
                            <p>{{link.desc}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="team-btn"><a class="btn btn-outline" href="/member"><i class="fas fa-eye"></i><span>Voir Plus</span></a></div>
            </div>
        </div>
    </div>
</section>


{% endblock %} {% block js %}{% endblock %}