{% extends 'layout/base.html' %}
{% load custom_tag %}
{% load static %}
{% block title %}Notre Equipe | {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'mega/css/team.css' %}" type="text/css">
{% endblock %}
{% block contents %}
<section class="single-banner" style="background-image: url({{BG_COVER}}) !important">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>Membres de l'équipe</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Membres de l'équipe</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team-part">
    <div class="container">
        <div class="row">
            {% for link in links %}
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card team-gape">
                    <div class="team-img"><img src="{{ link.avatar.url }}" alt="team-{% random_num %}">
                        <div class="team-overlay">
                            <ul class="team-icon">
                                <li><a class="icon icon-inline" href="{{link.WA_link}}"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a class="icon icon-inline" href="{{link.FB_link}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="icon icon-inline" href="{{link.TW_link}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-meta">
                        <h4>{{link.name}}</h4>
                        <p>{{link.desc}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="team-btn"><a class="btn btn-outline" href="#"><i class="fas fa-eye"></i><span>Voir plus</span></a></div>
            </div>
        </div> -->
    </div>
</section>
{% endblock %}



