{% load static %}
<div class="back2top-btn"><a href="#"><i class="fas fa-long-arrow-alt-up"></i></a></div>
<header class="header-part">
    <div class="header-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a class="header-logo" href="/"><img src="{{LOGO}}" alt="logo"></a>
                </div>
                <div class="col-lg-6">
                    <div class="header-btn"><a class="btn btn-outline" href="#sponsor"><i class="fas fa-hands-helping"></i><span>Devenir un sponsor</span></a></div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="navbar-part">
    <div class="navbar-bg">
        <div class="container">
            <div class="navbar-content">
                <a class="navbar-logo" href="/"><img src="{{LOGO}}" alt="logo"></a><button class="navbar-toggle" type="button"><i class="fas fa-bars"></i></button>
                <div class="navbar-overlay">
                    <div class="navbar-slide">
                        <div class="slide-head">
                            <a href="/"><img src="{{LOGO}}" alt="logo"></a><button class="cencel"><i class="fas fa-times"></i></button></div>
                        <ul class="navbar-list">
                            <li class="navbar-item active"><a class="navbar-link" href="/"><span><i class="fas fa-headphones-alt"></i>Acceuil</span></a></li>
                            <li class="navbar-item"><a class="navbar-link" href="/articles"><span><i class="fas fa-headphones-alt"></i>Articles</span></a></li>
                            <li class="navbar-item"><a class="navbar-link" href="/emissions"><span><i class="fas fa-headphones-alt"></i>Listes Emissions</span></a></li>
                            <li class="navbar-player">
                                <div class="player"><button class="player-btn" id="play-pause-button"><i class="fas fa-play"></i></button></div>
                            </li>
                            <li class="navbar-item"><a class="navbar-link" href="/member"><span><i class="fas fa-headphones-alt"></i>Notre Equipe</span></a></li>
                            <li class="navbar-item"><a class="navbar-link" href="/about"><span><i class="fas fa-headphones-alt"></i>À propos de nous</span></a></li>
                            <li class="navbar-item"><a class="navbar-link" href="/contact"><span><i class="fas fa-headphones-alt"></i>contact</span></a></li>
                        </ul>
                        <div class="navbar-btn"><a class="btn btn-outline" href="#sponsor"><i class="fas fa-hands-helping"></i><span>Devenir un sponsor</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="bottom-player">
    <div class="player"><button class="player-btn" id="play-pause-button2"><i class="fas fa-play"></i></button></div>
</div>